* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #0b3b2e, #064e3b);
  min-height: 100vh;
  color: white;
}

.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.side-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255,255,255,0.08);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.side-btn:hover {
  background: linear-gradient(to right, #10b981, #06b6d4);
}

.logout-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  margin-top: auto;
}

.main-content {
  flex: 1;
  padding: 50px;
}

.welcome-title {
  margin-bottom: 30px;
}

/* STAT CARDS */
.card-row {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  flex: 1;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 60px rgba(16,185,129,0.3);
}

.stat-card h4 {
  color: #94a3b8;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
}

/* GRAPH */
.graph-card {
  background: rgba(255,255,255,0.08);
  padding: 30px;
  border-radius: 25px;
  backdrop-filter: blur(18px);
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
  margin-bottom: 40px;
}

/* AI */
.ai-card {
  background: rgba(255,255,255,0.08);
  padding: 30px;
  border-radius: 25px;
  backdrop-filter: blur(18px);
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

#aiInput {
  width: 70%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.primary-btn {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #10b981, #06b6d4);
  color: white;
  cursor: pointer;
}

#aiReply {
  margin-top: 15px;
  color: #06b6d4;
  font-weight: bold;
  min-height: 30px;
}